a {
  color: #495057;
}
.md-form {
  margin-top: 0;
  margin-bottom: 0;
}
.md-outline.select-wrapper + label {
  top: 0.5em !important;
  z-index: 5 !important;
}
.dropdown-content li > a,
.dropdown-content li > span {
  color: #555555;
}
.multiple-select-dropdown {
  max-height: 20rem !important;
}
.testimonial-card .card-up {
  height: 170px;
}
.dropdown-content.select-dropdown.w-100.active {
  max-height: 300px !important;
}

@media only screen and (max-width: 700px) {
  .md-form label {
    font-size: 13px !important;
    white-space: nowrap;
    overflow: hidden;
    /* left: 0px !important; */
  }
}
@media only screen and (max-width: 960px) {
  .md-form label {
    font-size: 13px !important;
    white-space: nowrap;
    overflow: hidden;
    /* left: 0px !important; */
  }
}
#to {
  padding-left: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  transition: all 0.3s;
}
#from {
  padding-left: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  transition: all 0.3s;
}
input::placeholder {
  color: #485057 !important;
  padding-left: 5px;
  font-weight: 300;
}
#fromDate {
  z-index: 5 !important;
  left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
  background: #fff;
  -webkit-transform: translateY(-13px) scale(0.8);
  transform: translateY(-13px) scale(0.8);
}
#toDate {
  z-index: 5 !important;
  left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
  background: #fff;
  -webkit-transform: translateY(-13px) scale(0.8);
  transform: translateY(-13px) scale(0.8);
}

/* HER- Orange Start */
.nav-tabs .nav-link.active.Her {
  color: #ff8a65;
}
.md-form.md-outline.Her input[type="text"].valid {
  border-color: #ff8a65;
  box-shadow: inset 0 0 0 1px #ff8a65;
}
.select-wrapper.md-form.md-outline.Her input.select-dropdown:focus {
  border-color: #ff8a65;
  box-shadow: 0 0 0 1px #ff8a65;
}
.select-wrapper.active span.caret {
  color: #495057;
}
.select-wrapper.active .Her label.mdb-main-label {
  color: #ff8a65;
}
.md-form.Her input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ff8a65 !important;
  border: 1px solid #ff8a65 !important;
}

.md-form.Her label {
  color: #485057;
}

.md-form.Her input[type="text"]:focus:not([readonly]) + label {
  color: #ff8a65 !important;
}

.md-form.Her input[type="email"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ff8a65 !important;
  border: 1px solid #ff8a65 !important;
}

.md-form.Her input[type="email"]:focus:not([readonly]) + label {
  color: #ff8a65 !important;
  margin-left: 11px;
}
.md-form.Her input[type="password"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ff8a65 !important;
  border: 1px solid #ff8a65 !important;
}

.md-form.Her input[type="password"]:focus:not([readonly]) + label {
  color: #ff8a65 !important;
}

.btn-secondary.Her {
  border-color: #ff8a65;
}

.select-wrapper > label.Her.mdb-main-label {
  top: 0;
  font-weight: 200;
  color: #485057;
}

.white-skin.Her textarea.md-textarea:focus:not([readonly]) + label {
  color: #ff8a65;
}

.white-skin.Her textarea.md-textarea:focus:not([readonly]) {
  border: 1px solid #ff8a65;
  border-color: #ff8a65;
  -webkit-box-shadow: 0 1px 0 0 #ff8a65;
  box-shadow: 0 1px 0 0 #ff8a65;
}

.file-field.Her input.file-path {
  border-style: none;
  border: 1px solid #ff8a65;
}

input:focus.Her {
  outline: none;
  color: #ff8a65;
  border-color: #ff8a65;
  border-style: none;

  border: 1px solid #ff8a65;
}

.md-form.md-outline.Her label.active {
  z-index: 5 !important;
  color: #ff8a65;
  /* margin-left: 11px; */
}

.white-skin.Her
  .select-wrapper.colorful-select.md-form.md-outline
  input.select-dropdown:focus {
  border-color: #ff8a65;
  box-shadow: 0 0 0 1px #ff8a65;
}

.md-form.md-outline.Her textarea.md-textarea:focus:not([readonly]) {
  border-color: #ff8a65;
  box-shadow: 0 0 0 1px #ff8a65;
}

.md-form.md-outline.Her textarea.md-textarea:focus:not([readonly]) + label {
  color: #ff8a65;
}
ul.stepper.Her .step.active:before {
  background-color: #febb33;
}
/* HER- Orange Ends */

/* Mentor- Blue Starts */
/* .nav-tabs .nav-link.active {
  color: #007bff;
} */
.md-form.md-outline label.active {
  z-index: 5 !important;
}
.md-form.md-outline.input[type="email"]:focus:not([readonly]) label.active {
  left: 20px;
}
.md-form.input[type="email"]:focus:not([readonly]) + label.active {
  left: 20px;
}

optgroup label {
  color: #007bff !important;
}

/* Employer- Purple Start */
.nav-tabs .nav-link.active .Employer {
  color: #ba68c8;
}
.md-form.md-outline.Employer input[type="text"].valid {
  border-color: #ba68c8;
  box-shadow: inset 0 0 0 1px #ba68c8;
}
.select-wrapper.md-form.md-outline.Employer input.select-dropdown:focus {
  border-color: #ba68c8;
  box-shadow: 0 0 0 1px #ba68c8;
}

.select-wrapper.active .Employer label.mdb-main-label {
  color: #ba68c8;
}
.md-form.Employer input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ba68c8 !important;
  border: 1px solid #ba68c8 !important;
}

.md-form.Employer input[type="text"]:focus:not([readonly]) + label {
  color: #ba68c8 !important;
}

.md-form.Employer input[type="email"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ba68c8 !important;
  border: 1px solid #ba68c8 !important;
}

.md-form.Employer input[type="email"]:focus:not([readonly]) + label {
  color: #ba68c8 !important;
  margin-left: 11px;
}
.md-form.Employer input[type="password"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #ba68c8 !important;
  border: 1px solid #ba68c8 !important;
}

.md-form.Employer input[type="password"]:focus:not([readonly]) + label {
  color: #ba68c8 !important;
}

.btn-secondary.Employer {
  border-color: #ba68c8;
}

.white-skin.Employer textarea.md-textarea:focus:not([readonly]) + label {
  color: #ba68c8;
}

.white-skin.Employer textarea.md-textarea:focus:not([readonly]) {
  border: 1px solid #ba68c8;
  border-color: #ba68c8;
  -webkit-box-shadow: 0 1px 0 0 #ba68c8;
  box-shadow: 0 1px 0 0 #ba68c8;
}

.file-field.Employer input.file-path {
  border-style: none;
  border: 1px solid #ba68c8;
}

input:focus.Employer {
  outline: none;
  color: #ba68c8;
  border-color: #ba68c8;
  border-style: none;

  border: 1px solid #ba68c8;
}

.md-form.md-outline.Employer label.active {
  z-index: 5 !important;
  color: #ba68c8;
  /* margin-left: 11px; */
}

.white-skin.Employer
  .select-wrapper.colorful-select.md-form.md-outline
  input.select-dropdown:focus {
  border-color: #ba68c8;
  box-shadow: 0 0 0 1px #ba68c8;
}

.md-form.md-outline.Employer textarea.md-textarea:focus:not([readonly]) {
  border-color: #ba68c8;
  box-shadow: 0 0 0 1px #ba68c8;
}

.md-form.md-outline.Employer
  textarea.md-textarea:focus:not([readonly])
  + label {
  color: #ba68c8;
}
ul.stepper.Employer .step.active:before {
  background-color: #ba68c8;
}
/* Employer- Purple Ends */

/* Org- Aqua Start */
.nav-tabs .nav-link.active.Org {
  color: #4dd0e0;
}

.md-form.md-outline.Org input[type="text"].valid {
  border-color: #4dd0e0;
  box-shadow: inset 0 0 0 1px #4dd0e0;
}
.select-wrapper.md-form.md-outline.Org input.select-dropdown:focus {
  border-color: #4dd0e0;
  box-shadow: 0 0 0 1px #4dd0e0;
}

.select-wrapper.active .Org label.mdb-main-label {
  color: #4dd0e0;
}
.md-form.Org input[type="text"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #4dd0e0 !important;
  border: 1px solid #4dd0e0 !important;
}

.md-form.Org input[type="text"]:focus:not([readonly]) + label {
  color: #4dd0e0 !important;
}

.md-form.Org input[type="email"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #4dd0e0 !important;
  border: 1px solid #4dd0e0 !important;
}

.md-form.Org input[type="email"]:focus:not([readonly]) + label {
  color: #4dd0e0 !important;
  margin-left: 11px;
}
.md-form.Org input[type="password"]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #4dd0e0 !important;
  border: 1px solid #4dd0e0 !important;
}

.md-form.Org input[type="password"]:focus:not([readonly]) + label {
  color: #4dd0e0 !important;
}

.btn-secondary.Org {
  border-color: #4dd0e0;
}

.white-skin.Org textarea.md-textarea:focus:not([readonly]) + label {
  color: #4dd0e0;
}

.white-skin.Org textarea.md-textarea:focus:not([readonly]) {
  border: 1px solid #4dd0e0;
  border-color: #4dd0e0;
  -webkit-box-shadow: 0 1px 0 0 #4dd0e0;
  box-shadow: 0 1px 0 0 #4dd0e0;
}

.file-field.Org input.file-path {
  border-style: none;
  border: 1px solid #4dd0e0;
}

input:focus.Org {
  outline: none;
  color: #4dd0e0;
  border-color: #4dd0e0;
  border-style: none;

  border: 1px solid #4dd0e0;
}

.md-form.md-outline.Org label.active {
  color: #4dd0e0;
  /* margin-left: 11px; */
}

.white-skin.Org
  .select-wrapper.colorful-select.md-form.md-outline
  input.select-dropdown:focus {
  border-color: #4dd0e0;
  box-shadow: 0 0 0 1px #4dd0e0;
}

.md-form.md-outline.Org textarea.md-textarea:focus:not([readonly]) {
  border-color: #4dd0e0;
  box-shadow: 0 0 0 1px #4dd0e0;
}

.md-form.md-outline.Org textarea.md-textarea:focus:not([readonly]) + label {
  color: #4dd0e0;
}
ul.stepper.Org .step.active:before {
  background-color: #4dd0e0;
}
/* Org- Aqua Ends */
